# --------------------
# Python / Backend
# --------------------
__pycache__/
*.pyc
.venv/
.env

# --------------------
# Node / Frontend
# --------------------
node_modules/
build/
dist/

# --------------------
# OS
# --------------------
.DS_Store

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Data files (optional)
# --------------------
*.xlsx
*.xls